/* Reset de estilos predeterminados */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cuerpo de la página con fondo de imagen */
body {
    font-family: Arial, sans-serif;
    background-image: url('../static/img/fondo.jpg'); /* Ruta de la imagen de fondo */
    background-size: cover;  /* Hace que la imagen cubra toda la pantalla */
    background-position: center; /* Centra la imagen en la pantalla */
    background-attachment: fixed; /* Hace que la imagen de fondo permanezca fija cuando se hace scroll */
    color: #ffffff;
    padding: 20px;
}

/* Contenedor principal */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo blanco con opacidad para hacer el texto más legible */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #4CAF50;
    margin-bottom: 20px;
}

p {
    text-align: center;
}

a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background-color: #45a049;
}

/* Formularios */
input[type="text"], input[type="password"], input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Mensajes de error */
.error-message {
    color: red;
    font-size: 14px;
    text-align: center;
}
