<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login / Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form method="POST">
            {% if request.endpoint == 'login' %}
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
                {% if error_message %}
                    <p class="error">{{ error_message }}</p>
                {% endif %}
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
                {% if error_message %}
                    <p class="error">{{ error_message }}</p>
                {% endif %}
                <button type="submit">Login</button>
                <p>No tienes una cuenta? <a href="{{ url_for('register') }}">Registrarse</a></p>
            {% elif request.endpoint == 'register' %}
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
                {% if error_message %}
                    <p class="error">{{ error_message }}</p>
                {% endif %}
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
                {% if error_message %}
                    <p class="error">{{ error_message }}</p>
                {% endif %}
                <button type="submit">Register</button>
                <p>Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
            {% endif %}
        </form>
    </div>
</body>
</html>
