<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Register</h2>
    <form method="POST">
        <input type="text" name="username" placeholder="Username" required>
        {% if error_message %}
            <p class="error">{{ error_message }}</p>
        {% endif %}
        <input type="password" name="password" placeholder="Password" required>
        {% if error_message %}
            <p class="error">{{ error_message }}</p>
        {% endif %}
        <button type="submit">Register</button>
    </form>
    <p>Ya tienes una cuenta? <a href="{{ url_for('login') }}">Login</a></p>
</body>
</html>
